@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-900 text-zinc-100 flex justify-center items-center h-fit m-32 overflow-y-hidden;
}

input:checked + label {
	@apply bg-[#D6DBF5];
}

input:checked + .correct {
	@apply bg-[#94D7A2] border-0;
}

.correct {
	@apply bg-yellow-100 border-0;
}

input:checked + .incorrect {
	@apply bg-[#ffc5c58e] border-0;
}

.disabled:disabled + label {
	@apply text-gray-400 border-gray-300;
}

input:disabled + label {
	cursor: initial;
}
